<!--Main Layout-->
<div class="full-bg-img">
  <div class="mask flex-center">
    <div class="container text-center white-text">
      <div class="white-text text-center wow fadeInUp">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          This website is created only for farmers who sell Grociery to fulfil
          customer's need during the covid-19. Customers will buy the products
          online by using the mobile application only. Thank you for shopping
          (&copy;2020).
        </p>
      </div>
    </div>
  </div>
</main>

<!-- farmermarket404@gmail.com
selam@farmer -->
