.full-bg-img {
  background: url("../assets/images/depositphotos_127229074-stock-photo-vegetables-and-dairy-products.jpg")
    no-repeat center center;
  background-size: cover;
  width: 100%;
  background-attachment: scroll;
}
