table {
  margin-top: 100px;
  font-family: "Times New Roman", Times, serif;
}

tr {
  background-color: white;
}

.head {
  font-weight: bolder;
  font-size: large;
  background-color: rgb(109, 89, 89);
}

.customer {
  margin-top: 20px;
}

h3 {
  background-color: black;
}

td {
  font-size: large;
}
