<div class="orderlist">
  <div>
    <h3>
      LIST OF ORDERS
      <hr class="hr-light" />
      Filter By:
      <form>
        <input
          type="radio"
          name="filterStatus"
          value="Pending"
          (change)="filterByStatus($event)"
          checked
        />
        Pending

        <input
          type="radio"
          name="filterStatus"
          value="Ready"
          (change)="filterByStatus($event)"
        />
        Ready

        <input
          type="radio"
          name="filterStatus"
          value="Complete"
          (change)="filterByStatus($event)"
        />
        Complete
      </form>
    </h3>

    <table mdbTable>
      <thead>
        <tr>
          <th class="head th-sm" *ngFor="let head of orderElements" scope="col">
            {{ head }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of orders; let i = index">
          <td>
            <span mdbTableCol *ngFor="let item of el['items']">
              {{ item.itemName }}({{ item.quantity }}),</span
            >
          </td>
          <select
            class="mdb-select md-form"
            id="OrderStatus"
            (change)="onSubmit($event, el._id)"
          >
            <option value="" disabled selected>{{ el.orderStatus }}</option>
            <option value="Pending">Pending</option>
            <option value="Ready">Ready</option>
            <option value="Complete">Complete</option>
          </select>
        </tr>
      </tbody>
    </table>
  </div>
</div>
