<div class="user">
  <div class="row">
    <div class="col-md-5 mx-auto my-5">
      <section class="form-elegant opct opacity-80">
        <mdb-card>
          <mdb-card-body class="mx-4">
            <!--Header-->
            <div class="text-center">
              <h3 class="dark-grey-text mb-3">
                <strong>Reset Password</strong>
              </h3>
            </div>
            <span class="text-center">
              {{successMessege }}
            </span>

            <form [formGroup]="elegantForm" (ngSubmit)="onSubmit()">
              <div class="md-form">
                <input
                  type="text"
                  id="elegantFormNewPasswordEx"
                  formControlName="newPassword"
                  class="form-control"
                  mdbInput
                />
                <label for="elegantFormNewPasswordEx"
                  >Create New Password</label
                >
              </div>

              <div class="text-center mb-3">
                <button
                  type="submit"
                  mdbBtn
                  gradient="blue"
                  block="true"
                  rounded="true"
                  class="z-depth-1a waves-light"
                  [disabled]="elegantForm.invalid"
                  mdbWavesEffect
                >
                  RESET
                </button>
              </div>
            </form>
          </mdb-card-body>
        </mdb-card>
      </section>
    </div>
  </div>
</div>
